{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/customer-form.css' %}">
{% endblock %}

{% block content %}
    <div id="form">
        <form action="{{ action }}" method="{{ method }}">
            {% csrf_token %}
            {{ form.as_p }}

            <div id="form-errors">
                {% for message in messages %}
                    <p id="error">{{ message }}</p>
                {% endfor %}
            </div>

            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}