{% extends "base.html" %}

{% block title %}Contact details{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/customer-detail.css' %}">
{% endblock %}

{% block content %}
    <h2>Customer list</h2>
    {% for customer in customers %}
        <a href="/customer/{{ customer.id }}">
            <div id="customer">
                <div id="customer-info">
                    <div id="customer-icon">
                        <h2>{{ customer.name.0 }}</h2>
                    </div>

                    <div id="customer-details">
                        <h2>{{ customer.name }}</h2>

                        {% if customer.email %}
                            <p><strong>E-MAIL</strong>: {{ customer.email }}</p>
                        {% endif %}

                        {% if customer.number %}
                            <p><strong>PHONE</strong>: {{ customer.number }}</p>
                        {% endif %}

                        <p><strong>REGISTERED AT</strong>: {{ customer.created_at }}</p>
                        <p><strong>LEAD</strong>: {{ customer.lead_state }}</p>
                    </div>
                </div>
                <div id="customer-actions">
                    <form action="/customer/delete/{{ customer.id }}" method="GET">
                        <button id="delete" type="submit">DELETE</button>
                    </form>
                    <form action="/customer/update/{{ customer.id }}">
                        <button id="update" type="submit">UPDATE</button>
                    </form>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}